<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="str:${list}" th:text="${str}"></li>
</ul>
<hr/>
<ul>
    <th:block th:each="str: ${list}">
        <li>[[${str}]]</li>
    </th:block>
</ul>

<ul>
    <li th:each="str, status: ${list}">
        [[${status.index}]] -- [[${str}]]
    </li>
</ul>
<hr/>

<ul>
    <th:block th:each="str, status: ${list}">
        [[${status.size}]]
        <li>인덱스 : [[${status.index}]], 카운트 : [[${status.count}]], 홀수? : [[${status.odd}]],
            첫번째? : [[${status.first}]], 마지막? : [[${status.last}]] -- [[${str}]]
        </li>
    </th:block>
</ul>
<hr/>

<ul>
    <li th:each="str, status: ${list}">
        <span th:if="${status.odd}">ODD -- [[${str}]]</span>
        <span th:unless="${status.odd}">EVEN -- [[${str}]]</span>
        <!--/* <span th:unless="${status.odd}">EVEN -- [[${str}]]</span> */-->
    </li>
</ul>
<hr/>

<ul>
    <li th:each="str, status: ${list}">
        <span th:text="${status.odd} ? 'ODD --- ' + ${str}"></span>
    </li>
</ul>

<ul>
    <th:block th:each="str, status: ${list}">
        <li>
            <span th:text="${status.even} ? 'EVEN ---' + ${str}"></span>
        </li>
    </th:block>
</ul>

</body>
</html>